/* === Default Reset's === */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;    
}

li,ul,ol {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* === Fonts Reset's === */

h1,h2 {
    font-weight: 400;
}

p {
    font-weight: 300;
}

a,p {
    font-size: 16px;
}


@media(max-width: 600px) {
    a,p {font-size: 14px}
}

h1 {
    font-size: 48px;
}

@media(max-width: 1225px) {
    h1 {font-size: 32px;}
}


h2 {
    font-size: 32px;
}

@media(max-width: 1225px) {
    h2 {font-size: 24px;}
}

