/* === Header === */
@media(max-width: 800px) {

    header {
        position: fixed;
        background-color: #4287f5;
    }

    .navbar {
        background-color: #4287f5;
        color: #FFFFFF;
    }

    .nav-logo {
        color: #FFFFFF;     
    }
   
    .menu-bars:before {
        content: "\f0c9"; 
        font-family: FontAwesome;  
        font-size: 1.5rem;
        font-weight: 200;
    }
    
    .nav-items {
        position: absolute;
        display: block;
        text-align: center;
        background-color: #4287f5;
        top: 60px;
        left: -100%;
        width: 100%;
        overflow: auto;
        max-height: 85vh;
        line-height: 60px;
        transition: linear 0.3s;
    }

    .nav-items-list {
        margin: 0;
        border-bottom: solid #2e2e2e 1px;      
    }

    .nav-items-list:first-child {
        border-top: solid #2e2e2e 1px;
    }

    .nav-items-list:last-child {
        border: none;
    }

    .nav-link {
        display: block;
        color: #FFFFFF;
    }

    #check:checked ~ .menu-bars:before {
        content: "\f00d  "; 
        font-family: FontAwesome;
    }   

    #check:checked ~ .nav-items {
        left: 0;
    }
}

/* === Home === */
@media(max-width: 1225px) {
    .home-text {
        margin-top: 5em;
        max-width: 35ch;
    }

    .home-text-subtitle {
        line-height: 20px;
    }

    .home-container {
        padding-top: 2.5em;
    }
}

@media(max-width: 600px) {
    .home-container {
        flex-direction: column;
    }

    .home-text {
        margin-top: 0;
    }

    .home-text-subtitle {
        font-size: 0.875rem;
        line-height: 26px;
    }
}


/* === Banner-1 === */
@media(max-width: 800px) {
    .banner-1-subtitle{
        max-width: 40ch;
    }
}


/* === Sobre === */
@media(max-width: 1225px) {
   .sobre-container {
       justify-content: space-between;
   }

   .sobre-img {
       max-width: 450px;
   }
}

@media(max-width: 900px) {  
    .sobre-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .sobre-text {
        padding-top: 1.25em;
        margin: 0;
    }

    .sobre-text-subtitle {
        line-height: 26px;
    }
}

@media(max-width: 600px) {
    .sobre-text {
        max-width: 35ch;
    }

    .sobre-card {
        width: 280px;
        height: 200px;
        margin: 0 0 2.5em 0;
    }

    .sobre-card-title {
        font-size: 1.125rem;
    }

    .sobre-card-subtitle {
        font-size: 0.75rem;
        line-height: 24px;
    }
}

/* === Banner-2 === */
@media(max-width: 950px) {
    .banner-2 {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .banner-2-title {
        margin-bottom: 1.25em;
    }

    .btn-banner-2 {
        padding: 0.625em 1.875em; 
    }
}

@media(max-width: 600px) {
    .banner-2 {
        padding: 1.875em 1.25em;
    }
}

/* === Serviços === */
@media(max-width:600px) {
    .serviço-card {
        width: 250px; 
        height: 360px;
    }

    .serviço-card-title {
        font-size: 1.125rem;
    }

    .serviço-card-preço {
        font-size: 1.5rem;
    }

    .serviço-card-btn {
        margin-bottom: 1.563em;
        padding: 10px 10px;
        font-size: 18px;
        width: 150px;
    } 

    .card-img {
        width: 14px;
        height: 14px;
    }

    .serviço-card-detalhes {
        margin-bottom: 0.625em;
    }
}

/* === Equipe === */
@media(max-width: 900px) {
    .equipe-container {
        flex-direction: column-reverse
    }

    .equipe-text {
        margin-top: 1.875em;
    }
}

/* === Contato === */
@media(max-width: 900px) {
    .contato-container {
        flex-direction: column-reverse;
    }

    .contato-text-title {
        font-size: 2rem;
    }
}


