/* === Wrapper's, Váriaveis, Containers etc === */
.main-container {
    margin: 0 auto;
    padding: 0 60px;
}


@media(max-width: 1024px) {
    .main-container {
        padding: 0 40px;
    }
}

@media(max-width: 768px) {
    .main-container {
        padding: 0 20px;
    }
}

:root {
    --cor-principal: #000000;
    --cor-secundaria: #4287f5;
}


/* === Header === */
header {
    width: 100%;
}

.nav-logo {
    font-weight: bold;
    color: var(--cor-principal);
    font-size: 24px;
    text-transform: uppercase;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

#check {
    display: none;
}

.nav-items {
    display: flex;
}

.nav-items-list {
    margin: 0 0 0 30px;
}

.nav-link {
    color: var(--cor-principal);
    font-weight: 500;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--cor-secundaria);
    transition: width .3s;
}

.nav-link:hover::after {
    width: 100%;
}

/* === Home === */
.home-container {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 60px;
}

.home-img {
    width: 100%;
    max-width: 600px;
    height: auto; 
}

.home-text {
    margin-top: 150px;
}

.home-text-title {
    font-weight: 400;
    letter-spacing: 0.02em;
    margin-bottom: 30px;
}

.home-text-subtitle {
    letter-spacing: 0.06em;
    color: #1a1919;
    margin-bottom: 40px;
    max-width: 60ch;
    line-height: 32px;
    font-weight: 300;
}

.home-text-btn {
    background-color: var(--cor-secundaria);
    color: #FFFFFF;
    padding: 15px 40px; 
    border-radius: 40px;
    transition: ease 0.5s;
}

.home-text-btn:hover {
    background-color: #0048ba;
}


/* === Banner-1 === */
.banner-1 {
    width: 100%;
    background-color: var(--cor-secundaria);
    color: #FFFFFF;
    text-align: center;
    padding: 60px 0;
}

.banner-1-title {
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 400;
}

.banner-1-subtitle {
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.06em;
    max-width: 60ch;
    margin: 0 auto;
}


/* === Sobre === */
#sobre {
    margin-bottom: 40px;
}
.sobre-container {
    display: flex;
    margin-top: 60px;
    margin-bottom: 80px;
}

.sobre-img{
    width: 100%;
    max-width: 600px;
    height: auto; 
    margin-right: 40px;
}

.sobre-text {
    padding-top: 80px;
}

.sobre-text-title {
    margin-bottom: 30px;
    font-weight: 400;
}

.sobre-text-subtitle {
    letter-spacing: 0.06em;
    line-height: 32px;
    margin-bottom: 40px;
    max-width: 50ch;
    font-weight: 300;
}

.sobre-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sobre-card {
    width: 330px;
    height: 250px;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px 1px rgba(120,172,255,0.32);
    border-radius: 20px;
    margin: 0 40px 30px 0;
    padding: 0 20px;
    cursor: pointer;
    transition: ease 0.4s;
}

.sobre-card:hover {
    transform: scale(1.05);
}

.sobre-card-icon {
    display: block;
    margin: 20px auto;
}

.sobre-card-title {
    text-align: center;
    color: var(--cor-secundaria);
    font-size: 24px;
    margin-bottom: 10px;
}

.sobre-card-subtitle {
    color: var(--cor-secundaria);
    text-align: center;
    font-size: 16px;
}


/* === Banner-2 === */
.banner-2 {
    width: 95%;
    background-color: var(--cor-secundaria);
    color: #FFFFFF;
    margin: 0 auto;
    padding: 30px 60px;
    display: flex;
    align-items: center;
}

.banner-2-title {
    margin-right: 80px;
}

.btn-banner-2 {
    background-color: #FFFFFF;
    color: var(--cor-secundaria);
    padding: 15px 40px; 
    border-radius: 40px;
    transition: ease 0.5s;    
}

/* === Serviços === */
.serviços-img {
    width: 100%;
    max-width: 700px;
    height: auto;  
    margin-bottom: 40px; 
}

.serviços-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.serviço-card {
    width: 350px;
    height: 520px;
    box-shadow: 0px 0px 7px 1px rgba(120,172,255,0.32);
    margin: 0 20px 20px 0px;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.serviço-card-title {
    font-weight: 400;
    font-size: 24px;
    color: var(--cor-secundaria);
    margin-bottom: 20px;
}

.serviço-card-title::after {
    content: '';
    display: block;
    width: 20%;
    height: 2px;
    background-color: var(--cor-secundaria);
    margin-top: 10px;
}

.serviço-card-preço {
    font-size: 32px;
    color: var(--cor-secundaria);
    font-weight: 600;
    margin-bottom: 30px;
}

.serviço-card-btn {
    background-color: var(--cor-secundaria);
    color: #FFFFFF;
    padding: 15px 20px;
    width: 200px; 
    border-radius: 40px;
    transition: ease 0.5s;    
    text-align: center;
    margin-bottom: 80px;
    transition: ease 0.5s;
}

.serviço-card-btn:hover {
    background-color: #0048ba;    
}

.serviço-card-detalhes {
    display: flex;
    margin-bottom: 20px;
}

.card-img {
    width: 21px; 
    height: 21px;
}

.card-detalhes-text {
    margin-left: 10px;
    color: var(--cor-secundaria);
}